@font-face {
	font-display: swap;
	font-family: 'Flow';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/flow.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'LumberjackRough';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/lumberjack.woff2') format('woff2');
}