// В этом файле должны быть стили для БЭМ-блока heading, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.heading {
	color: var(--color-secondary);
	font-family: var(--font-primary);
	font-size: 32px;
	letter-spacing: 0.04em;
	line-height: 1.14;
	@media (min-width: $screen-sm) {
		font-size: 56px;
	}
	@media (min-width: $screen-md) {
		font-size: 64px;
	}
	&_shadow {
		text-shadow: var(--text-shadow);
	}
}
