footer.footer
	.grid
		.grid__row
			.grid__col
				.footer__inner
					.footer__row
						svg.footer__logo
							use(xlink:href='img/svgSprite.svg#kbb-logo')
						.footer__socials
							a.footer__socials-link(href='#')
								svg.footer__socials-icon
									use(xlink:href='img/svgSprite.svg#icon__vk')
							a.footer__socials-link(href='#')
								svg.footer__socials-icon
									use(xlink:href='img/svgSprite.svg#icon__instagram')
					.footer__info
						p.footer__text 2019 © #[span «КрафтБургерБар»]
						p.footer__text Разработано в #[a(href='#') «Лига Франшиз»]
					