#access.hystmodal(aria-hidden='true')
	.hystmodal__wrap
		.hystmodal__window.modal(role='dialog' aria-modal='true')
			.modal__header
				svg.modal__close(data-hystclose='')
					use(xlink:href='/img/svgSprite.svg#icon__cross')
			.modal__body
				h2.modal__title Получить доступ<br>к фин модели
				form.modal__form
					.modal__fields
						.field
							label.field__label
							.input.field__input
								input.input__data(placeholder= 'Ваше имя' type= 'text' required)
						.field
							label.field__label
							.input.field__input
								input.input__data(placeholder= 'Ваш номер телефона' type= 'tel' data-mask-tel required)
						.field
							label.field__label
							.input.field__input
								input.input__data(placeholder= 'E-mail' type= 'email' required)
					button.modal__button.button(data-hystmodal='#success') Отправить
			
#application.hystmodal(aria-hidden='true')
	.hystmodal__wrap
		.hystmodal__window.modal(role='dialog' aria-modal='true')
			.modal__header
				svg.modal__close(data-hystclose='')
					use(xlink:href='/img/svgSprite.svg#icon__cross')
			.modal__body
				h2.modal__title Оставить заявку
				form.modal__form
					.modal__fields
						.field
							label.field__label
							.input.field__input
								input.input__data(placeholder= 'Ваше имя' type= 'text' required)
						.field
							label.field__label
							.input.field__input
								input.input__data(placeholder= 'Ваш номер телефона' type= 'tel' data-mask-tel required)
						.field
							label.field__label
							.input.field__input
								input.input__data(placeholder= 'E-mail' type= 'email' required)
					button.modal__button.button(data-hystmodal='#success') Отправить
								
#success.hystmodal(aria-hidden='true')
	.hystmodal__wrap
		.hystmodal__window.modal.modal_message(role='dialog' aria-modal='true')
			.modal__header
				svg.modal__close(data-hystclose='')
					use(xlink:href='/img/svgSprite.svg#icon__cross')
			.modal__body
				h2.modal__title Заявка получена
				p.modal__message Мы вам перезвоним в течение 24 часов
				.modal__img-cover
					img.modal__img(src='img/icon__burger-symbol_@1.png' srcset='img/icon__burger-symbol_@2.png' alt='иконка бургера')