// В этом файле должны быть стили для БЭМ-блока modal, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.modal {
	border-radius: 16px;
	box-shadow: var(--modal-shadow);
	max-width: 320px;
	overflow: hidden;
	padding: 16px 16px 36px 32px;
	&_message {
		padding-bottom: 80px;
	}
	&__header {
		display: flex;
		justify-content: flex-end;
	}
	&__body {
		padding-right: 16px;
	}
	&__title {
		font-family: var(--font-primary);
		font-size: 24px;
		letter-spacing: 0.04em;
		line-height: 1;
		margin: 0 0 40px 0;
	}
	&__close {
		fill: var(--color-primary);
		height: 32px;
		width: 32px;
		flex-shrink: 0;
	}
	&__form {}
	&__fields {
		display: grid;
		grid-gap: 16px;
	}
	&__message {
		font-size: 16px;
		font-weight: 300;
		letter-spacing: 0.02em;
		line-height: 1.5;
		margin: 0;
	}
	&__img-cover {
		position: relative;
	}
	&__img {
		width: 64px;
		height: 64px;
		right: 0;
		top: -8px;
		object-fit: cover;
		position: absolute;
	}
	&__button {
		margin-top: 24px;
	}
}
.hystmodal__shadow {
	background: var(--color-primary-25);
	opacity: 1;
}
